Repository uprm-inso4115-2024-2025-s2/semester-project-tracklist, pull requests merged in 2025-02, with the labels that each got.

#48 Singup input fields, resusable button.
  TrackList/app/(tabs)/_layout.tsx
  TrackList/app/(tabs)/index.tsx
  TrackList/app/(tabs)/two.tsx
  TrackList/app/+html.tsx
  TrackList/app/+not-found.tsx
  TrackList/app/_layout.tsx
  TrackList/app/index.tsx
  TrackList/app/menu.tsx
  TrackList/app/modal.tsx
  TrackList/app/signin.tsx
  TrackList/app/signup.tsx
  TrackList/components/CustomButton.tsx
  TrackList/package-lock.json
  TrackList/yarn.lock
Labels: completed, Authentication and User Management

#112 Setup directory for Spotify API integration
  TrackList/spotify/index.ts
Labels: Milestone 1, Music Review and Spotify Integration, Pending Approval

#131 Search page & Nav bar
  TrackList/app/(tabs)/_layout.tsx
  TrackList/app/(tabs)/menu.tsx
  TrackList/app/(tabs)/search.tsx
  TrackList/app/_layout.tsx
  TrackList/app/menu.tsx
  TrackList/app/signup.tsx
  TrackList/assets/images/dtmf.png
Labels: Enhancement, Completed, Milestone 1, Authentication and User Management

#132 Profile Creation
  TrackList/app/(tabs)/_layout.tsx
  TrackList/app/(tabs)/profile.tsx
  TrackList/app/_layout.tsx
  TrackList/app/menu.tsx
  TrackList/app/profile.tsx
  TrackList/app/signup.tsx
  TrackList/assets/images/user-icon.png
  TrackList/firebaseConfig.js
  TrackList/package-lock.json
  TrackList/package.json
  TrackList/yarn.lock
Labels: Completed, Authentication and User Management
