Repository uprm-inso4115-2024-2025-s2/semester-project-tracklist, pull requests merged in 2025-03, with the labels that each got.

#135 Spotify api integration
  TrackList/spotify/auth.ts
  TrackList/spotify/index.ts
Labels: Music Review and Spotify Integration

#166 Updated Profile UI
  TrackList/app/(tabs)/profile.tsx
  TrackList/app/profile.tsx
  TrackList/app/signup.tsx
Labels: Authentication and User Management

#161 moved Spotify API credentials to environment variables
  TrackList/.env
  TrackList/spotify/auth.ts
Labels: Completed, Milestone 2, Music Review and Spotify Integration

#186 Display name
  TrackList/app/profile.tsx
  TrackList/app/signup.tsx
Labels: Approved, Milestone 2, Authentication and User Management

#154 150 re structure return response for function that retrieves songs
  TrackList/spotify/index.ts
Labels: Completed, Milestone 2, TL approved, Music Review and Spotify Integration

#158 Re-organized fetchSpotifyPlaylist response
  TrackList/spotify/index.ts
Labels: Enhancement, Completed, Music Review and Spotify Integration

#206 implemented function to fetch several artists from the spotify api
  TrackList/spotify/index.ts
Labels: Milestone 2, Music Review and Spotify Integration

#207 implemented function to fetch several tracks from the spotify api
  TrackList/spotify/index.ts
Labels: Milestone 2, Music Review and Spotify Integration

#215 Add parseSpotifyLink function
  TrackList/spotify/index.ts
Labels: Milestone 2, Music Review and Spotify Integration

#222 Re-structured return response for getAlbumsFromArtist()
  TrackList/spotify/index.ts
Labels: Milestone 2, Music Review and Spotify Integration

#229 Auth and albums to axios, related album methods in same file and data categorization
  TrackList/app/spotify.tsx
  TrackList/spotify/album.ts
  TrackList/spotify/auth.ts
Labels: Completed, Milestone 2, Music Review and Spotify Integration

#228 [Lecture Topic Task] Improve Input Validation in the Sign-Up Form for Requirements Compliance
  TrackList/app/(tabs)/_layout.tsx
  TrackList/app/(tabs)/profile.tsx
  TrackList/app/signin.tsx
  TrackList/app/signup.tsx
Labels: Completed, Milestone 2, Lecture Topic, Authentication and User Management, LTT review

#236 Comments Page Implementation
  TrackList/app/_layout.tsx
  TrackList/components/Comments.tsx
  TrackList/package-lock.json
  TrackList/package.json
  package-lock.json
Labels: Approved

#232 Update info from user profile
  TrackList/app/(tabs)/profile.tsx
  TrackList/app/profile.tsx
Labels: Completed, Authentication and User Management

#239 Liked songs page
  .gitignore
  TrackList/app/(tabs)/_layout.tsx
  TrackList/app/(tabs)/likedsongs.tsx
Labels: Enhancement, Milestone 2, Social Features and Community Engagement
