Repository uprm-inso4115-2024-2025-s2/semester-project-tracklist, pull requests merged in 2025-04, with the labels that each got.

#230 Acttabv2 and new issues
  TrackList/app/(tabs)/activity.tsx
  TrackList/app/(tabs)/menu.tsx
  TrackList/app/(tabs)/notification.tsx
  TrackList/app/(tabs)/profile.tsx
  TrackList/app/_layout.tsx
  TrackList/app/menu.tsx
  TrackList/assets/images/Bell.png
Labels: Completed, TL approved, Pending Approval

#265 Enhanced the visuals of /spotify to better match /menu
  TrackList/app/spotify.tsx
Labels: Milestone 3, Music Review and Spotify Integration

#266 restructured response implemented
  TrackList/spotify/index.ts
Labels: Completed, Milestone 3, Music Review and Spotify Integration

#308 Comments Page Refactor
  TrackList/app/(tabs)/profile.tsx
  TrackList/components/Comments.tsx
  TrackList/package-lock.json
  TrackList/tsconfig.json
  package-lock.json
Labels: Approved, Milestone 3, TL approved, Social Features and Community Engagement

#313 138 implement env file for secure api configurations
  TrackList/.env
  TrackList/.gitignore
  TrackList/package.json
  TrackList/spotify/album.ts
  TrackList/spotify/auth.ts
  TrackList/spotify/index.ts
  TrackList/yarn.lock
Labels: Milestone 3, Music Review and Spotify Integration

#320 Add album art to /spotify search
  TrackList/app/spotify.tsx
  TrackList/spotify/index.ts
Labels: Milestone 3, Music Review and Spotify Integration

#322 added Spotify search functionality and detail screen working with the api
  TrackList/app/(tabs)/spotify.tsx
  TrackList/app/[id].tsx
Labels: Completed, Milestone 3, Music Review and Spotify Integration

#330 updated funcitons to restructure responses
  TrackList/spotify/index.ts
Labels: Completed, Milestone 3, Music Review and Spotify Integration

#314 add full song review screen with star rating, tags, like toggle, and …
  TrackList/app/(tabs)/review-form.tsx
  TrackList/package-lock.json
  TrackList/package.json
  TrackList/spotify/saveReview.ts
Labels: Milestone 3, Music Review and Spotify Integration
